body{
 font-family: 'Comfortaa', cursive;
}
div{
   font-family: 'Comfortaa', cursive;
}
h1,

h2{
font-family: 'Comfortaa', cursive;
}
.p{
 font-family: 'Comfortaa', cursive;
}
span{
font-family: 'Comfortaa', cursive;
}
h4{
font-family: 'Comfortaa', cursive;
}
